<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    <h1>Register Page</h1>

    <form action="/Que1" method="post" enctype="multipart/form-data"> 

        UserName <input type="text" name="username"><br>
        <% errors.forEach(e => { if(e.param === 'username') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        Password <input type="password" name="password"><br>
        <% errors.forEach(e => { if(e.param === 'password') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        Confirm Password <input type="password" name="cpassword"><br>
        <% errors.forEach(e => { if(e.param === 'cpassword') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        Email <input type="email" name="email"><br>
        <% errors.forEach(e => { if(e.param === 'email') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        Gender:<br>
        <input type="radio" name="gender" value="female" >Female<br>
        <input type="radio" name="gender" value="male" >Male<br>
        <% errors.forEach(e => { if(e.param === 'gender') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        Hobbies:<br>
        <input type="checkbox" name="hobbies[]" >Music<br>
        <input type="checkbox" name="hobbies[]">Travel<br>
        <input type="checkbox" name="hobbies[]">Reading<br>
        <% errors.forEach(e => { if(e.param === 'hobbies') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        Profile: <input type="file" name="profile"><br>
        <% errors.forEach(e => { if(e.param === 'profile') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        File: <input type="file" name="file" multiple><br>
        <% errors.forEach(e => { if(e.param === 'file') { %>
            <span style="color:red"><%= e.msg %></span><br>
        <% } }); %>

        <input type="submit" value="Register">
    </form>    
</body>
</html>