<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2px">
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Hobbies</th>
            <th>Gender</th>
            <th>Profile</th>
            <th>Files</th>
        </tr>
        <tr>
            <td>
                <%= user.UserName %>
            </td>
            <td>
                <%= user.Email %>
            </td>
            <td>
                <%= user.Hobbies %>
            </td>
            <td>
                <%= user.Gender %>
            </td>
            <td>
                <img src="<%= user.Profile %>" height="50" width="50"/>
            </td>
            <td>
                <% user.File.split(', ').forEach((f) => { %>
                    <img src="<%= f %>" height="50" width="50"/>
                <% }) %>
            </td>
        </tr>
    </table>

</body>
</html>